In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [5]:
# load the dataset
data = pd.read_csv("Churn_Modelling.csv")

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# drop irrelevant features
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# encode categorial variables
label_encode_gender=LabelEncoder()

data['Gender'] = label_encode_gender.fit_transform(data['Gender'])

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
# converting the geograohy into one hot encoding

from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_geo=OneHotEncoder()

geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])

geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [12]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)

data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [14]:
# Save the encoders and sscaler

with open('label_encode_gender.pkl','wb') as file:
    pickle.dump(label_encode_gender,file)

with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

In [15]:
# divide the dataset into dependent and independent variables
# In machine learning, X (features) are independent variables and y (target) is the dependent variable

# Create X: Drop the 'Exited' column (target variable) and keep all other columns as features
# These are the independent variables that will be used to predict the target
X = data.drop('Exited', axis=1)

# Create y: Extract only the 'Exited' column as the target variable
# This is what we want to predict (whether customer will churn or not)
y = data['Exited']

# split the data into training and test data
# We need to split data into training set (80%) and test set (20%) to evaluate model performance
# X_train: features for training, X_test: features for testing
# y_train: target labels for training, y_test: target labels for testing
# random_state=42 ensures reproducibility (same split every time)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale these features down
# StandardScaler normalizes features to have mean=0 and standard deviation=1
# This is important because features have different scales, which can affect neural network training
scalar = StandardScaler()

# Fit the scaler on training data and transform X_train
# fit_transform: learns the mean and std from training data, then applies scaling to X_train
# We fit ONLY on training data to avoid data leakage
X_train = scalar.fit_transform(X_train)

# Transform X_test using the same scaler fitted on training data
# We use transform() only (not fit_transform) to apply the same scaling to test data
# This ensures test data is scaled using training data's statistics
X_test = scalar.transform(X_test)

In [16]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [17]:
with open('scalar.pkl','wb') as file:
    pickle.dump(scalar,file)

In [18]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

ANN IMPLEMENTATION

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

In [20]:
(X_train.shape[1]),

(12,)

In [21]:
# Building the model

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # connecting the input with the hidden layer
    Dense(32,activation='relu'), #Hidden layer 2
    Dense(1,activation='sigmoid') #Output layer
])

WARNING:tensorflow:From g:\annclassification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [44]:
import tensorflow 

opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [45]:
# compile the model

model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [46]:
# Set up the TensorBoard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="log/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [47]:
# early stopping

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [48]:
# Train the model

history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3063 - accuracy: 0.8765 - val_loss: 0.3646 - val_accuracy: 0.8550
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3031 - accuracy: 0.8760 - val_loss: 0.3814 - val_accuracy: 0.8465
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2992 - accuracy: 0.8766 - val_loss: 0.3678 - val_accuracy: 0.8530
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2944 - accuracy: 0.8752 - val_loss: 0.3932 - val_accuracy: 0.8485
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2957 - accuracy: 0.8773 - val_loss: 0.3818 - val_accuracy: 0.8480
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2928 - accuracy: 0.8783 - val_loss: 0.3691 - val_accuracy: 0.8535
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2866 - accuracy: 0.8808 - val_loss: 0.3759 - val_accuracy: 0.8570
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2882 - accuracy: 0.8784 - val_loss: 0.3800 - val_accuracy: 0.8570
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2881 - accuracy: 0.8789 - val_loss: 0.3828 - val_accuracy: 0.8525
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2807 - accuracy: 0.8842 - val_loss: 0.3888 - val_accuracy: 0.8545
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2787 - accuracy: 0.8795 - val_loss: 0.3883 - val_accuracy: 0.8545

In [49]:
model.save('model.h5')

g:\annclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [50]:
# Load tensorboard extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [52]:
%tensorboard --logdir log/fit20251226-013754

Reusing TensorBoard on port 6007 (pid 65640), started 0:00:25 ago. (Use '!kill 65640' to kill it.)