In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# drop irrelevant features
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
label_encoder=LabelEncoder()

data['Gender'] = label_encoder.fit_transform(data['Gender'])

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
one_hot_encoding = OneHotEncoder()

geo_encode = one_hot_encoding.fit_transform(data[['Geography']])

geo_encode.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
geo_encoder_df=pd.DataFrame(geo_encode.toarray(),columns=one_hot_encoding.get_feature_names_out(['Geography']))

geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)

data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [13]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
scalar = StandardScaler()

X_train = scalar.fit_transform(X_train)

X_test = scalar.transform(X_test)

In [57]:
# Scale the target variable
scaler_y = StandardScaler()

y_train = scaler_y.fit_transform(y_train.values.reshape(-1, 1))
y_test = scaler_y.transform(y_test.values.reshape(-1, 1))

# Save the target scaler
with open('scaler_y.pkl', 'wb') as file:
    pickle.dump(scaler_y, file)

In [58]:
with open('scalar2.pkl','wb') as file:
    pickle.dump(scalar, file)

# Save the encoders and sscaler

with open('label_encoder_gender2.pkl','wb') as file:
    pickle.dump(label_encoder, file)

with open('one_hot_encoder_geo2.pkl','wb') as file:
    pickle.dump(one_hot_encoding, file)

ANN Regression problem

In [59]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [60]:
# Building the model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.2),  # Drops 20% of neurons randomly
    Dense(32, activation='relu'),
    Dropout(0.2),  # Drops 20% of neurons randomly
    Dense(1)       # Output layer
])


# compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                832

 dropout_2 (Dropout)         (None, 64)                0

 dense_11 (Dense)            (None, 32)                2080

 dropout_3 (Dropout)         (None, 32)                0

 dense_12 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [61]:
# Set up the TensorBoard
import tensorflow
import datetime

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="regression/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [62]:
# early stopping

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [63]:
# Train the model

history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.8793 - mae: 0.8793 - val_loss: 0.8707 - val_mae: 0.8707
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8708 - mae: 0.8708 - val_loss: 0.8699 - val_mae: 0.8699
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8631 - mae: 0.8631 - val_loss: 0.8689 - val_mae: 0.8689
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8591 - mae: 0.8591 - val_loss: 0.8713 - val_mae: 0.8713
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8602 - mae: 0.8602 - val_loss: 0.8701 - val_mae: 0.8701
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8592 - mae: 0.8592 - val_loss: 0.8718 - val_mae: 0.8718
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8591 - mae: 0.8591 - val_loss: 0.8725 - val_mae: 0.8725
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8596 - mae: 0.8596 - val_loss: 0.8737 - val_mae: 0.8737
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8581 - mae: 0.8581 - val_loss: 0.8740 - val_mae: 0.8740
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8570 - mae: 0.8570 - val_loss: 0.8726 - val_mae: 0.8726
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8559 - mae: 0.8559 - val_loss: 0.8780 - val_mae: 0.8780
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8556 - mae: 0.8556 - val_loss: 0.8737 - val_mae: 0.8737
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8574 - mae: 0.8574 - val_loss: 0.8740 - val_mae: 0.8740

In [43]:
# Load tensorboard extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [65]:
%tensorboard --logdir regression/fit/20251226-165530

Reusing TensorBoard on port 6010 (pid 20072), started 0:06:27 ago. (Use '!kill 20072' to kill it.)

In [64]:
# Evaluate the model on test data
from sklearn.metrics import mean_absolute_error

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE (Scaled): {test_mae}')

# Calculate MAE on original scale
y_pred_scaled = model.predict(X_test)
y_pred = scaler_y.inverse_transform(y_pred_scaled)
y_test_original = scaler_y.inverse_transform(y_test)

mae_original = mean_absolute_error(y_test_original, y_pred)
print(f'Test MAE (Original Scale): {mae_original}')

63/63 [==============================] - 0s 1ms/step - loss: 0.8689 - mae: 0.8689
Test MAE (Scaled): 0.8689468502998352
63/63 [==============================] - 0s 1ms/step
Test MAE (Original Scale): 49977.7653659375

In [66]:
# Save the model
model.save('regression_model.h5')

g:\annclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(